/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --cells_per_row: 5;
  --cells_size: 50px;
}

body {
  background-color: powderblue;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--cells_per_row), var(--cells_size));
  width: calc(var(--cells_per_row)*var(--cells_size));
  height: calc(var(--cells_per_row)*var(--cells_size)+1);
  margin: auto;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: var(--cells_size);
  width: var(--cells_size);
}

.cell_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: var(--cells_size);
  width: var(--cells_size);
}

#color_menu {
  background-color: skyblue;
  margin-top: 25px;
  display: none;
}

.color_option {
  data-inline="true";
  height: var(--cells_size);
  width: var(--cells_size);
}

#green_color_option {
  background-color: limegreen;
}

#blue_color_option {
  background-color: darkblue;
}

#red_color_option {
  background-color: darkred;
}