/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --cells_per_row: 20;
  --cells_size: 40px;
  --color_option_size: 50px;
}

body {
  background-color: powderblue;
  text-align: center;
}

.dance {
  position: absolute;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--cells_per_row), var(--cells_size));
  width: calc(var(--cells_per_row)*var(--cells_size));
  height: calc(var(--cells_per_row)*var(--cells_size)+1);
  margin: auto;
}

.cell {
  border: 1px solid;
  height: var(--cells_size);
  width: var(--cells_size);
}

.cell_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: var(--cells_size);
  width: var(--cells_size);
}

#color_menu {
  background-color: skyblue;
  margin-top: calc(var(--cells_size)/2.0);
  display: none;
}

.color_option {
  display: inline-block;
  border: 1px solid;
  height: var(--color_option_size);
  width: var(--color_option_size);
}

#green_color_option {
  background-color: #0ac910;
}

#blue_color_option {
  background-color: #0a9bf5;
}

#red_color_option {
  background-color: #f50000;
}

#white_color_option {
  background-color: #000000;
}

#black_color_option{
  background-color: #ffffff;
}

#dark_blue_color_option{
  background-color: #0725ba;
}
#dark_green_color_option{
  background-color: #084a1a;
}
#yellow_color_option{
  background-color: #f5f10f;
}
#brown_color_option{
  background-color: #7d3f01;
}
#orange_color_option{
  background-color: #fa660a;
}
#pink_color_option{
  background-color: #ff00b7;
}
#purple_color_option{
  background-color: #8807ba;
}