<p style="color: green"><%= notice %></p>

<div id="home">
  <img src="https://i.gifer.com/3MH3.gif" style="height: 150px">
  <br>
  <img src="https://media.tenor.com/hjjG_i4XmcEAAAAM/lizard-dance.gif" style="height: 250px">

  <br>
  <div class="board" id="cells">
    <% @cells.each do |cell| %>
      <%= render cell %>
    <% end %>
  </div>

  <div id="color_menu">
    <button class="color_option" id="green_color_option">
    </button>

    <button class="color_option" id="blue_color_option">
    </button>

    <button class="color_option" id="red_color_option">
    </button>
  </div>
</div>

