<p style="color: green"><%= notice %></p>

<h1>The Sharks Are Dead</h1>

<div id="home">
  <img src="https://media.tenor.com/hjjG_i4XmcEAAAAM/lizard-dance.gif">
  
<div id="sharks">
  <% @sharks.each do |shark| %>
    <br>
    <%= render shark %>
  <% end %>

  <% @cells.each do |cell| %>
    <br>
    <%= render cell %>
  <% end %>
</div>

</div>
